extends ./layout/_layout.pug

block pagetitle
  title Cycoin Blog
//- block

block metakeywords
  meta(name="keywords", content="cycoin, cryptocurrency, investing, wealth coin, coin, altcoin, best, safe, reliable, money, invest, digital, online, assets, easy investing, alternative")
//- block

block headerlogo
  a.navbar-item(href='index.html')
    img(src='assets/images/logo.png', alt='Cycoin', height='28')
    span Cycoin
  //- a
//- block
block footerlogo
  .logo
    img(src="assets/images/logo.png")
    span Cycoin
  //- logo
//- block

block pagecss
  style.
    body {
      margin-top: 64px;
    }
    nav.navbar {
      background: #2f4a5d;
    }
//- block

block content

  section.section.normal.blog
    .container
      h1.title.has-text-centered Blog
      p
      h5.subtitle.has-text-centered Topics
      #blog
        h1.title.has-text-centered(v-if="posts.length === 0")
          i.fas.fa-spinner.fa-spin.fa-2x.has-text-success
        //- h1
        .columns.is-multiline
          .column.is-4-desktop.is-6-tablet(v-for="post, index in posts", :key="post.id")
            .card
              .card-image
                figure.image.is-2by1(v-bind:style="{ 'background-image': 'url(' + thumbnails[index].src + ')' }")
              //- card-image
              .card-content
                .media
                  .content
                    p.title.is-4
                      a(:href="'topic.html?postid=' + post.id") {{ post.title ? post.title : "Read more" }}
                    //- p
                  //- media-content
                //- media
                .content
                  //- div(v-html="post.content")
                  //- br
                  p.subtitle.is-6.has-text-danger.author {{ post.author.displayName }}
                  time.is-size-7 {{ published[index].date }}
                //- content
              //- card-content
            //- card
          //- column
        //- columns
      //- #blog
    //- container
  //- section

block scripts
  script.
    var blog = new Vue({
      el: '#blog',
      data: {
        posts: [],
        thumbnails: [],
        published: []
      },
      created: function() {
        this.loadBlogs();
      },
      methods: {
        loadBlogs: function() {
          var self = this;
          axios.get('https://www.googleapis.com/blogger/v3/blogs/9211130937384517946/posts', {
            params: {
              key: 'AIzaSyBRNoNNjubEPKlZXDh7oMwexnNH7hMdFVU'
            }
          }).then(function (res) {
            const parser = new DOMParser();
            res.data.items.forEach(item => {
              const html = parser.parseFromString(item.content, 'text/html');
              const img = html.querySelector('img');
              const url = img ? img.src : '';
              self.thumbnails.push({ src: url });
              self.published.push({ date: moment(item.published).format("MMMM DD YYYY") });
            });
            self.posts = res.data.items
          })
          .catch(function (err) {
            document.getElementById('blog').innerHTML = '<span class="has-text-danger">' + err.message + '</span>';
          });
         }
      }
    });
