extends ./layout/_layout.pug

block pagetitle
  title Cycoin Blog
//- block

block metakeywords
  meta(name="keywords", content="cycoin, cryptocurrency, investing, wealth coin, coin, altcoin, best, safe, reliable, money, invest, digital, online, assets, easy investing, alternative")
//- block

block headerlogo
  a.navbar-item(href='index.html')
    img(src='assets/images/logo.png', alt='Cycoin', height='28')
    span Cycoin
  //- a
//- block
block footerlogo
  .logo
    img(src="assets/images/logo.png")
    span Cycoin
  //- logo
//- block

block pagecss
  style.
    body {
      margin-top: 64px;
    }
    nav.navbar {
      background: #2f4a5d;
    }
//- block

block content

  section.section.normal.blog
    .container
      h1.title.has-text-centered Blog
      p
      h5.subtitle.has-text-centered Topics
      .columns.is-multiline#blog
        .column.is-4-desktop.is-6-tablet(v-for="post, index in posts", :key="post.id")
          .card
            .card-image
              div(v-for="att in post.object.attachments")
                div(v-if="att.objectType == 'photo'")
                  figure.image.is-2by1(v-bind:style="{ 'background-image': 'url(' + att.image.url + ')' }")
                //- v-if
                div(v-else-if="att.objectType == 'video'")
                  iframe(width="100%", height="auto", v-bind:src="att.embed.url", frameborder="0", allow="autoplay; encrypted-media", allowfullscreen="")
                //- v-else-if
              //- v-for
            //- card-image
            .card-content
              .media
                .content
                  p.title.is-4
                    a(:href="'topic.html?postid=' + post.id") {{ post.title }}
                  //- p
                //- media-content
              //- media
              .content
                //- div(v-html="post.content")
                //- br
                p.subtitle.is-6.has-text-danger.author {{ post.actor.displayName }}
                time.is-size-7 {{ published[index].date }}
              //- content
            //- card-content
            div(v-for="att in post.object.attachments")
              .card-content(v-if="att.objectType == 'article'", style="background: whitesmoke")
                a.title.is-6(v-bind:href="att.url", target="_blank") {{ att.displayName }}
              //- v-else-if
            //- v-for
          //- card
        //- column
      //- columns
    //- container
  //- section

block scripts
  script.
    
    //- function handleResponse(response) {
    //-   const parser = new DOMParser();
    //-   response.items.forEach(item => {
    //-     const html = parser.parseFromString(item.content, 'text/html');
    //-     const img = html.querySelector('img');
    //-     const url = img ? img.src : '';
    //-     document.getElementById("content").innerHTML += `<div class='posts'><h1>${item.title}</h1><img src="${url}"><br/></div><a href='${item.url}'>Continue Reading</a>`;
    //-   })
    //- }
    
    var blog = new Vue({
      el: '#blog',
      data: {
        posts: [],
        published: []
      },
      created: function() {
        this.loadBlogs();
      },
      methods: {
        loadBlogs: function() {
          var self = this;
          axios.get('https://www.googleapis.com/plus/v1/people/115711379672113531719/activities/public', {
            params: {
              key: 'AIzaSyB94Zs4Ce2Z3GJZlvFYa-diOxhdFP-E-QU'
            }
          }).then(function (res) {
            res.data.items.forEach(item => {
              self.published.push({ date: moment(item.published).format("MMMM DD YYYY") });
            });
            self.posts = res.data.items
          })
          .catch(function (err) {
            document.getElementById('blog').innerHTML = '<span class="has-text-danger">' + err.message + '</span>';
          });
        }
      }
    });
