extends ./layout/_layout.pug

block pagetitle
  title Cycoin Roadmap
//- block

block metakeywords
  meta(name="keywords", content="cycoin, asset backed, interest, dividend, earn, cryptocurrency income, bitcoin income, digital currency, digital currency income")
//- block

block headerlogo
  a.navbar-item(href='index.html')
    img(src='assets/images/logo.png', alt='Cycoin', height='28')
    span Cycoin
  //- a
//- block
block footerlogo
  .logo
    img(src="assets/images/logo.png")
    span Cycoin
  //- logo
//- block

block pagecss
  style.
    body {
      margin-top: 64px;
    }
    nav.navbar {
      background: #2f4a5d;
    }
  
block content
  
  section.section.normal.team
    .container
      h1.title.has-text-centered.has-text-left-mobile Roadmap
      .timeline
        .item
          .phase
            .date Jul/Aug 2018
            .name Pre-ICO
            .description
              | 25% bonus tokens,
              br
              | 2 week campaign
            //- description
          //- phase
        //- item
        .item
          .phase
            .date Sep 2018
            .name ICO
            .description
              | 20% to 5% bonus tokens,
              br
              | 4 week campaign
            //- description
          //- phase
        //- item
        .item
          .phase
            .date Oct 2018
            .name Coin Distribution
            .name Multi Currency Wallet
            .description Cycoin issued to ICO investors Cycoin listed
          //- phase
        //- item
        .item
          .phase
            .date Oct 2018
            .name Fund invested
            .description Margin lending and software development
          //- phase
        //- item
        .item
          .phase
            .date Nov 2018
            .name Arbitrage Trading
            .description Conduct Arbitrage trading
          //- phase
        //- item
        .item
          .phase
            .date Nov 2018
            .name Coin Democracy
            .description Voting
          //- phase
        //- item
        .item
          .phase
            .date Dec 2018
            .name pre-ICO investing
            .description ICO investing
          //- phase
        //- item
      //- timeline
    //- container
  //- section

block scripts
  script.
