extends ./layout/_layout.pug

block pagetitle
  title Cycoin Roadmap
//- block

block metakeywords
  meta(name="keywords", content="cycoin, asset backed, interest, dividend, earn, cryptocurrency income, bitcoin income, digital currency, digital currency income")
//- block

block headerlogo
  a.navbar-item(href='index.html')
    img(src='assets/images/logo.png', alt='Cycoin', height='28')
    span Cycoin
  //- a
//- block
block footerlogo
  .logo
    img(src="assets/images/logo.png")
    span Cycoin
  //- logo
//- block

block pagecss
  style.
    body {
      margin-top: 64px;
    }
    nav.navbar {
      background: #2f4a5d;
    }
  
block content
  
  section.section.normal.team
    .container
      h1.title.has-text-centered.has-text-left-mobile Roadmap
      .timeline
        .item
          .phase
            .date Oct 2018
            .name Pre-ICO Open
            .description
              | 25% bonus tokens.
            //- description
          //- phase
        //- item
        .item
          .phase
            .date Feb 2019
            .name ICO Open
            .description
              | 20% to 5% bonus tokens.
            //- description
          //- phase
        //- item
        .item
          .phase
            .date May 2019
            .name Coin Distribution
            .name Multi Currency Wallet
            .description Tokens issued Cycoin listing.
          //- phase
        //- item
        .item
          .phase
            .date Jun 2019
            .name
              | Fund Investing
              br
              | Margin lending
            .description Arbitrage App.
          //- phase
        //- item
        .item
          .phase
            .date Jul 2019
            .name
              | Fund Investing
              br
              | Arbitrage Trading
            .description Conduct ICO Investment Due Diligence.
          //- phase
        //- item
        .item
          .phase
            .date Aug 2019
            .name Coin Democracy
            .description Voting Enabled.
          //- phase
        //- item
        .item
          .phase
            .date Sep 2019
            .name
              | Fund Investing
              br
              | ICO Investments
            //- .description ICO investing
          //- phase
        //- item
      //- timeline
    //- container
  //- section

block scripts
  script.
