extends ./layout/_layout.pug

block headerlogo
  a.navbar-item(href='index.html')
    img(src='assets/images/logo.png', alt='Cycoin', height='28')
    span Cycoin
  //- a
//- block
block footerlogo
  .logo
    img(src="assets/images/logo.png")
    span Cycoin
  //- logo
//- block

block pagecss
  style.
    body {
      margin-top: 64px;
    }
    nav.navbar {
      background: #2f4a5d;
    }
  
block content
  
  section.section.normal.team
    .container
      h1.title.has-text-centered Team
      .content
        .columns
          .column
            .card
              .card-content
                img(src="assets/images/team-marko.jpg")
                h4.subtitle.is-4 Marko Kovac
                p.has-text-centered
                  a.has-text-primary(href="https://www.linkedin.com/in/terraphoenix/", target="_blank")
                    i.fab.fa-linkedin
                  //- a
                  | &nbsp;&nbsp;
                  a.has-text-info(href="mailto:marko.a.kovac@gmail.com", target="_blank")
                    i.fas.fa-envelope
                  //- a
                //- has-text-centere
                p Marko is a specialist capital arranger and advisor on commercial and structured finance and corporate funding solutions for existing and startup businesses primarily in the property, investment and finance sectors, providing business origination skills, investor networks, relationship building, due diligence and sourcing of funding placements from private equity, senior and mezzanine finance providers. Marko has also provided assistance to new businesses in the tech and utilities segments.
              //- card-content
            //- card
          //- column
          .column
            .card
              .card-content
                img(src="assets/images/team-kevin.jpg")
                h4.subtitle.is-4 Kevin Morgan
                p.has-text-centered
                  a.has-text-primary(href="https://www.linkedin.com/in/kevin-r-morgan/", target="_blank")
                    i.fab.fa-linkedin
                  //- a
                  | &nbsp;&nbsp;
                  a.has-text-info(href="mailto:kevinrmorgan@yahoo.com", target="_blank")
                    i.fas.fa-envelope
                  //- a
                //- has-text-centere
                p A hands-on CEO and COO/ Country Manager/ Senior Executive/Sales Leader - I'm a deeply experienced senior executive. Spanning the operational, buy-side and senior sell-side capabilities. I've successfully held a range of executive (C-Level and Country Manager), Board and senior operational and sales roles in SaaS platform, IT product, solutions and professional services and consulting management, financial services and wealth management organisations. Internationally and across Australia.
              //- card-content
            //- card
          //- column
        //- columns
        .columns
          .column
            .card
              .card-content
                img(src="assets/images/team-phil.png")
                h4.subtitle.is-4 Phillip Callendar
                p.has-text-centered
                  a.has-text-primary(href="https://www.linkedin.com/in/philipcallender/", target="_blank")
                    i.fab.fa-linkedin
                  //- a
                  | &nbsp;&nbsp;
                  a.has-text-info(href="mailto:philip.callender@tooltwist.com", target="_blank")
                    i.fas.fa-envelope
                  //- a
                //- has-text-centere
                p Based in Philippines since 2006, Phil has over 25 years experience running software development firms in Australia and Asia. He built and sold one of Australia’s top software development companies before moving to and setting up a new business in Philippines in 2006.
                p Extremely knowledgeable on local culture, Phil has over a decade of experience running and optimising IT and management teams in the Philippines.
              //- card-content
            //- card
          //- column
          .column
            .card
              .card-content
                img(src="assets/images/team-arv.png")
                h4.subtitle.is-4 Aravind Naidu
                p.has-text-centered
                  a.has-text-primary(href="https://www.linkedin.com/in/aravindnaidu/", target="_blank")
                    i.fab.fa-linkedin
                  //- a
                  | &nbsp;&nbsp;
                  a.has-text-info(href="mailto:aravind.naidu@tooltwist.com", target="_blank")
                    i.fas.fa-envelope
                  //- a
                //- has-text-centere
                p Based in Sydney, Arv’s reputation tends to precede him. He has over 20 years experience in directing and implementing ICT projects across Asia and Australia and has consulted to banks, software and telecommunications firms. Arv has immensely broad project experience across both the hardware and software arenas. If you’re based in Sydney, you might like to seek Arv’s expertise on offshoring strategy or about software development strategy.
              //- card-content
            //- card
          //- column
        //- columns
      //- content
    //- container
  //- section

block scripts
  script.
