extends ./layout/_plain.pug

block pagetitle
  title Terms and Conditions
//- block

block pagecss
  style.
    @media screen and (max-width: 1023px) {
      body {
        margin-top: 0;
      }
    }
    .tnc {
      width: 900px;
      max-width: 100%;
      margin: auto;
      height: 400px;
      max-height: 100%;
      overflow-x: hidden;
      overflow-y: scroll;
      border: 1px solid #eee;
      padding: 15px;
    }
    .tnc p.is-size-4 {
      margin-bottom: 0;
    }
//- block

block content

  section.section.normal
    .container
      .has-text-centered
        a(href="/")
          img(src="assets/images/logo.png", alt="Cycoin", width="100")
        //- a
      //- has-text-centered
      br
      h1.title.has-text-centered CYCOIN TOKEN PRE-ICO COMMITMENT AGREEMENT
      p
      #tnc.tnc.content
        p Dear 
          strong Purchaser
          | ,
        //- p
        p Nemiro International Ltd – Company No. 206876, of Suite 9, Ansuya Estate, Revolution Avenue, Victoria, Mahe, Seychelles (the 
          strong Company 
          | or 
          strong Cycoin
          | ) is pleased to offer you this opportunity to buy Cycoin Tokens (
          strong CCY
          | ). Nemiro International Ltd is the operating company for Cycoin.
        //- p
        p We are providing an investment minimum of USD100 and an investment maximum of USD500,000 per investor.
        p Please note, this is a time limited offer and if either acceptance of this agreement or the full purchase funds for CCY is not received by close of offer date shown on 
          a.has-text-primary(href="https://cycoin.co") https://cycoin.co
          |  the offer will be void and cancelled.
        //- p
        p
          strong Purchaser acknowledgement
        //- p
        p This document outlines the commitment by the Purchaser to purchase from the Company, CCY via the pre-ICO allocation of tokens issued as part of Cycoin’s Initial Coin Offering (
          strong ICO
          | ) process. The Purchaser acknowledges they have read, understand and agree to be bound by the following documents and as may be updated from time to time and published on the Cycoin’s ICO website (
          a.has-text-primary(href="https://cycoin.co") https://cycoin.co
          | ):
        //- p
        p
          ol
            li(type="a") this Pre-ICO Commitment Agreement; and
            li(type="a") the Cycoin Whitepaper; and
            li(type="a") the attached terms and conditions.
          //- ol
        //- p
        p (the 
          strong Documents
          | ).
        //- p
        p Notwithstanding any acknowledgements made by the Purchaser in accepting to be bound by the  Documents, the Purchaser further acknowledges they understand and accept the risks associated with purchasing cryptoassets and agree to hold Cycoin blameless for any loss, damage, liability, cost or expense incurred as a result of participating in Cycoin’s Pre Initial Coin Offering.
        p Unless otherwise noted, all defined terms used in this document have the meaning given in the attached terms and conditions.
        p
          strong The offer
        //- p
        p Cycoin is offering CCY to pre-ICO purchasers at the rate as set out below. In accepting this document, the Purchaser commits to the purchase of the stated volume of CCY and commits to the transfer of funds to the stated Cycoin address so Cycoin receives such funds no later than five (5) working days from the date of this letter.
        p Cycoin is under no obligation to transfer any CCY to the Purchaser if it does not receive due payment in accordance with the Documents.
        p In accordance with the terms and conditions, Cycoin reserves the right, at its absolute discretion, to vary the volume of tokens available as part of the pre sale allocation, as such Cycoin is not obliged to accept this request for purchase of CCY including if the volume of tokens available has been exceeded.
        p
          strong Acceptance of offer
        //- p
        p By selecting ‘I Agree’ you (the 
          strong Purchaser
          | ) accepts the offer of CCY as part of the pre-ICO allocation of CCY issued as part of Cycoin’s ICO process and has read, understood and agrees to be bound by the Documents, and accepts responsibility for the consequences of buying CCY and confirms that the Purchaser has taken its own tax and accounting advice and has not relied on any advice or recommendation of the Company. It further agrees to keep all details of this pre sale strictly confidential.
        //- p
        p Purchaser agrees to purchase CCY at a ratio of 1 CCY = 2 USD. Upon receipt of acceptance of this agreement and the Purchasers funds, Cycoin will convert the amount paid by the Purchaser into CCY at a ratio of 1 CCY = 2USD based on the prevailing USD value on the day of acceptance, The above conversion ratio does not include a 25% CCY bonus which will be added to the Purchasers allocation of CCY, in recognition of the Purchaser taking part in this pre-ICO. Cycoin will confirm in writing the total amount of CCY allocated including the bonus amount to the Purchaser.
        p The Purchaser will need to submit its Ethereum Public Address or Ethereum Public Key QR Code, which will receive the CCY as set out in the Documents. Please ensure you provide the correct information, if it is incorrect, your CCY will be permanently lost and irretrievable.
        p Alternatively, if the Purchaser does not hold an Ethereum Public Address or Ethereum Public Key QR Code, Cycoin will contact the Purchaser with instructions on how to create Ethereum Public Address or Ethereum Public Key QR Code prior to completion of the ICO and distribution of CCY tokens.
        
        hr
        
        p.is-size-4.has-text-centered Terms and conditions
        p The following terms and conditions (
          strong Terms
          | ) govern the issue of Cycoin tokens (
          strong CCY
          |  or 
          strong CCY Token
          | ) by Nemiro International Ltd (
          strong Cycoin
          | ) for potential future use in relation to the Cycoin Project (
          strong Project
          | ). This document describes the Pre Initial Coin Offering in which Cycoin Tokens are to be sold, during the pre-ICO sale (
          strong Event
          | ). By purchasing any Cycoin Tokens, you agree to be bound by these Terms and any terms incorporated by reference into this document. You should review these Terms carefully and must not purchase any Cycoin Tokens if you have not read, understood, or do not agree to these Terms.
        //- p
        p In these Terms, 'Cycoin', 'us', 'we' and 'our' means Cycoin, our affiliates, officers, directors, agents, joint ventures, employees, advisors, contractors, suppliers and our related bodies corporate.
        p In these Terms:
        p
          strong Event
          |  means the commencement, continuance and closing of the Pre-ICO sale under the Terms and in accordance with the 
          strong Use of Funds
          | , to raise funds for the purpose of paying for and conducting the ICO:-
        //- p
        p
          strong Use of Funds
          |  means the spending by Cycoin of Pre-ICO funds raised in the following manner and percentage allocation:
        //- p
        p
          ol
            li(type="i") 20% - website features and facilities including development and deployment of the arbitrage application and any other applications and publication developed in association with performance of the Project;
            li(type="i") 55% - technology, legal and public relations including ERC20 universal standard, smart contract management system, platform establishment, coin democracy features, payment processing, calculators, bonus promotional and referral programs, sale process automation, review of programme documents, drafting and review of legal documents, ongoing legal advice, establishment of legal entities, legal opinions, exchange escrow services, token concept review, targeted marketing strategy consultation, ICO specific public relations, language translations, advertising and direct engagement with blockchain media, listing processes for Cycoin tokens;
            li(type="i") 25% - working capital including establishment and operation of premises, operational expenses associated with the performance of the Project, attendance at roadshows, trade events and forums.
          //- ol
        //- p
        p
          strong Project
          |  means the information and activities contained in the Whitepaper, the operation of the fund criteria and coin democracy processes implemented and undertaken by Cycoin.
        //- p
        p CCY Tokens are not intended to constitute securities in any jurisdiction. These Terms do not constitute a prospectus, product disclosure statement or offer document of any kind and are not intended to constitute an offer of securities or solicitation for investment in securities in any jurisdiction. No regulatory authority has examined or approved any of the information set out in these Terms and no such action will be taken under the laws of any jurisdiction.
        p Nothing in these Terms or any other documentation prepared and published by Cycoin may be construed to be business, legal, accounting, financial or taxation advice. You should seek independent legal, financial, accounting and taxation advice prior to entering into these Terms or purchasing any CCY.
        p It is your sole responsibility to determine if you can legally purchase CCY in accordance with the laws of your home or applicable jurisdiction, and you must not purchase any CCY if you are not able to legally do so under the laws of your applicable jurisdiction. Individuals, businesses, and other organisations should carefully weigh the risks, costs, and benefits of acquiring CCY.
        
        hr
        
        ol
          li
            p.is-size-4 Rights in CCY
            p By purchasing, holding and using CCY Tokens, you expressly acknowledge that you are aware of the following:
            p
              ol
                li(type="a") The CCY Tokens are a digital currency and are not intended to be structured or sold as securities, commodities, or any form of financial or investment product. Accordingly, none of the information presented by Cycoin in respect of the CCY Tokens is intended to form the basis for any investment decision, and no recommendations are intended. Cycoin expressly disclaims any and all responsibility for any direct, indirect or consequential loss, damage, cost or expense of any kind whatsoever arising directly or indirectly from, or otherwise in connection with:
                ol
                  li(type="i") reliance on any information contained in the Cycoin Whitepaper and the Cycoin business overview (both available on the Cycoin website at https://cycoin.co) (together, 
                  strong Whitepapers
                  | );
                  li(type="i") any error, omission or inaccuracy in any such information; or
                  li(type="i") any action resulting from such information.
                //- ol
                li(type="a") Ownership of CCY Tokens carries no rights, express or implied, other than the right to use the CCY Tokens as stated in the Documents. In particular, you understand and accept that the CCY Tokens do not represent or confer:
                ol
                  li(type="i") any ownership right, share or security (or any equivalent right) in Cycoin or any other company;
                  li(type="i") any future right to receive an interest or revenue share in Cycoin or any other company;
                  li(type="i") any future right to receive an interest in any intellectual property rights relating to the Company; or
                  li(type="i") any other form of participation in or relating to Cycoin.
                //- ol
              //- ol
            //- p
          li
            p.is-size-4 Creation of CCY
            p Fifty million CCY Tokens will be created on the Ethereum blockchain using a blockchain technology comprised of a web interface, locked wallets and smart contracts. A total of up to one million tokens will be available in the Event, with any tokens allocated for any bounty campaign, commissions and mentors to be distributed or escrowed in accordance with the allocations set out these Terms.
          li
            p.is-size-4 Overview of the Event
            p
              ol
                li(type="a") Cycoin will conduct the Event, which will begin and end as announced on 
                  a.has-text-primary(href="https://cycoin.co") https://cycoin.co 
                  | (
                  strong Event Period
                  | ).
                li(type="a") Cycoin will allocate 1,000,000 of the total issue amount of 50,000,000 CCY Tokens to be sold during the Event Period.
                li(type="a") The Event will only be conducted on the Cycoin website at https://cycoin.co (Website).
                li(type="a") During the Event, you will be able to acquire CCY in exchange for USD, Ethereum (
                  strong ETH
                  | ) or Bitcoin (
                  strong BTC
                  | ) or any other currencies nominated in the payment portal. Payment must be made using the buy button located at 
                  a.has-text-primary(href="https://cycoin.co") https://cycoin.co
                  |  which will open our payment portal located at 
                  a.has-text-primary(href="www.cycoinportal.com") www.cycoinportal.com
                  |  and at no other domains or portals.
                li(type="a") For fiat currency received it may be converted to an Ether or Bitcoin equivalent according to Cycoin’s providers’ exchange rates, less any applicable deductions and fees on the day it was converted by Cycoin, unless otherwise specified in writing.
                li(type="a") The CCY Tokens will be allocated according to the ratio of 1 CCY to 2 USD, plus any applicable bonus in accordance with clause 4 below.
                li(type="a") Cycoin will maintain on the Website an interface to purchase CCY Tokens (
                  strong Event Portal
                  | ).
                li(type="a") Instructions for purchasing CCY with USD. ETH or BTC will be available for review on the Website, for the duration of the Event.
              //- ol
            //- p
          li
            p.is-size-4 Event specifics
            p
              ol
                li(type="a") All purchasers in the Event will be offered a CCY bonus based on the timing of their CCY purchase, as follows:
                  table.table
                    thead
                      tr
                        th Time
                        th Bonus
                      //- tr
                    //- thead
                    tbody
                      tr
                        td Public Pre-ICO
                        td 25%
                      //- tr
                    //- tbody
                  //- table
                li(type="a") There will be no minimum raise amount set. The CCY Tokens will be issued following the close of the Event and completion of token creation by Cycoin. All purchases of CCY Tokens are non-refundable, unless otherwise specified in writing at Cycoin’s discretion.
                li(type="a") Cycoin may liquidate or invest the cryptocurrencies received, once they are released from escrow for tax and price volatility reasons.
              //- ol
            //- p
          li
            p.is-size-4 Purpose and use of tokens
            p
              ol
                li(type="a") You acknowledge that the purpose of CCY is to facilitate the Cycoin project and ownership of CCY carries only the possibility of future rights relating to the provision and receipt of such services via the Project if successfully completed and deployed.
                li(type="a") In particular, you understand and accept that CCY do not represent or confer any ownership right or stake, share or security or equivalent rights, or any right to receive future revenue shares, intellectual property rights or any other form of participation in or relating to Cycoin or any other entity or business, and no such rights will be implied. Any possible future rights will be limited to an access right in the Project in the manner proposed in the Documents, if such Project is successfully completed and deployed. CCY Tokens, with their current functionality and associated rights, are not intended to be a security, commodity or any other kind of financial product.
              //- ol
            //- p
          li
            p.is-size-4 Timing of sale
            p
              ol
                li(type="a") Cycoin reserves the right to change the date when the Event will begin.
                li(type="a") Cycoin reserves the right to extend the sale duration, or shorten the sale duration, for any reason including, but not limited to, the unavailability of the Website or any other unforeseen security or procedural issues.
              //- ol
            //- p
          li
            p.is-size-4 Pre-ICO of CCY Tokens
            p
              ol
                li(type="a") Cycoin is conducting Pre-ICO sales of the CCY Token, which includes a discount for such early adopters, set out in Section 4.
                li(type="a") If you are a pre-ICO purchaser you must acknowledge and agree to:
                  ol
                    li(type="i") be bound by all these Terms; and
                    li(type="i") collect your Cycoin Tokens via the Event portal, after the ICO has been completed and you have received an email from Cycoin (within 4 weeks from the end of the Event), that CCY Tokens are available for collection, except if varied in writing by Cycoin.
                  //- ol
                li(type="a") At Cycoin’s discretion it may decide to put pre-ICO purchased tokens into a time-locked smart contract. The release of these funds will be upon completion of the Event.
              //- ol
          li
            p.is-size-4 Procedures for buying CCY
            p
              ol
                li(type="a") To purchase CCY during the Event Period, you must also follow all the procedures as set out on the Website (
                  strong Website Process
                  | ). Failure to follow the Website Process may result in no CCY being issued to you.
                li(type="a") Pre-ICO purchasers may be subject to different procedures to what is set out in these Terms. Cycoin reserves the right to provide to you in writing the procedures required, if they are not the same.
                li(type="a") Before or at the launch of the Event, Cycoin will make available on its Website the Event Portal, to facilitate your purchase and receipt of CCY. To purchase CCY, you must also provide your ETH compatible address and an email address, to the Event Portal for the delivery of your CCY Tokens you purchase.
                li(type="a") You must provide the correct Ethereum address for receipt of CCY. Cycoin will not be liable for any errors or omissions including but not limited to incorrect addresses provided, incomplete addresses or loss of access to private keys. Cycoin does not provide any wallet hosting services nor does it hold any keys. Cycoin only issues the CCY to the address provided.
                li(type="a") You must provide and maintain an email address to be used to email to you with any communications including notice of the confirmation of your purchase of CCY, with a unique link to view your payment on the Website.
              //- ol
            //- p
          li
            p.is-size-4 Disclosure of funds received
            p To enable you to have as much information as possible to guide your decision-making process, Cycoin will disclose the total funds received during the course of the Event, to enable you to develop an understanding of the size of the existing CCY, at the time of purchasing your CCY.
          li
            p.is-size-4 Procedures for receiving CCY
            p
              ol
                li(type="a") Cycoin anticipates that delivery of CCY Tokens to you will be after the receipt of funds from you, but no later than 4 weeks after the ICO closes. Cycoin reserves the right to delay delivery of CCY Tokens after the conclusion of the Event Period, although it does not anticipate any delays, this is intended for precautionary purposes to deal with any unforeseen circumstances.
                li(type="a") Cycoin is incorporated under the Seychelles jurisdiction and is programmed so that all transactions it executes will be executed under the Seychelles jurisdiction. As such, title to, and risk of loss of, CCY delivered fall exclusively under the Seychelles jurisdiction.
                li(type="a") By purchasing CCY, and to the extent permitted by law, you agree not to hold Cycoin liable for any losses or any special, incidental, or consequential damages arising out of, or in any way connected to your failure to secure your account or for incorrect delivery of your tokens.
              //- ol
          li
            p.is-size-4 Obligation to determine eligibility to purchase CCY
            p It is your responsibility to determine if you can legally purchase CCY, in your home or applicable jurisdiction.
          li
            p.is-size-4 CCY will only be available for sale on the Cycoin Website
            p Cycoin will only sell CCY through the official Cycoin Website. To the extent that any third-party website or service offers CCY for sale during the Event, or facilitates the sale or transfer of CCY in any way during the Event, such third-party websites or services are not sanctioned by Cycoin and have no relationship in any way with Cycoin. Any use of these third party websites will be at your own risk, and may be subject to separate terms and conditions set by those websites.
          li
            p.is-size-4 Security
            p You are responsible for implementing your own measures for securing the wallet, vault or other storage mechanism that you use to receive and hold CCY purchased from Cycoin, including, but not limited to, securing your private key(s) or other credentials necessary to access such storage mechanism(s). If your private key(s) or other access credentials are lost or stolen, you may lose access to your CCY. Cycoin will not be responsible for any such loss.
          li
            p.is-size-4 Fraudulent attempts to double spend
            p Cycoin will monitor all potential transactions for fraudulent attempts to double spend crytocurrency. Any fraudulent activity, including potential double spend of any cryptocurrency, will result in no CCY being delivered to you and may result with you being excluded from the Event.
          li
            p.is-size-4 Cycoin will not purchase CCY during Event
            p Cycoin warrants that it will not purchase CCY in its own Event. Furthermore, Cycoin warrants that it will not purchase CCY from any third party, or acquire CCY in any manner, or acquire future control of CCY during the Event. This section 15 does not apply to Cycoin’s affiliates, officers, directors, agents, joint ventures, employees, contractors, advisors or suppliers who may purchase CCY for their own personal use, provided their purchase is made during the Event through the Website.
          li
            p.is-size-4 All purchases of CCY are non-refundable
            p Subject to any applicable law, all purchases of CCY are final and non-refundable. By purchasing CCY, you acknowledge that Cycoin is not required to provide a refund for any reason, and that you will not receive money or other compensation for any CCY that is not used or remains unused. Cycoin reserves the right to refuse or cancel any CCY purchase requests at any time, in its sole discretion.
          li
            p.is-size-4 Certain risks associated with the purchase of CCY
            p The purchase of CCY carries risks. Prior to purchasing CCY, you must carefully consider and agree to assuming such risks including, but not limited to, those outlined in these Terms and the Whitepaper. To the extent necessary, you should consult a lawyer, accountant or tax professional (as applicable) prior to determining whether to purchase CCY.
          li
            p.is-size-4 Accuracy, completeness and timeliness of information
            p The information in these Terms, the Whitepaper on the Website and all other documents and statements published by Cycoin (
              strong Materials
              | ) are intended to be summaries of the relevant subject matter. Whilst every effort is made to ensure that statements of facts are accurate, all estimates, projections, forecasts, prospects, expressions of opinion and other subjective judgments contained in the Materials are based on assumptions considered to be reasonable as of the date of the document in which they are contained and must not be construed as a representation that the matters referred to in them will occur. Any plans, projections or forecasts may not be achieved due to multiple risk factors including without limitation defects in technology developments, legal or regulatory impediments, restrictions or exposure, market volatility, sector volatility, corporate actions, or the unavailability of complete and accurate information. You should monitor any changes to the Materials as notified via the Website.
            //- p
          li
            p.is-size-4 Taxation of CCY and taxation related to the Event
            p Cycoin makes no representations concerning the tax implications of the sale, possession or use of CCY. The purchase of CCY is exclusive of all applicable taxes. You bear the sole responsibility to determine what, if any, taxes apply to the purchase of CCY, or the potential appreciation or depreciation in the value of CCY over time, in your home or other applicable jurisdiction. By purchasing CCY, and to the extent permitted by law, you agree not to hold Cycoin liable for any tax liability or responsibility for withholding, collecting, reporting or remitting any sales, use, value added, or similar tax, associated with or arising from the purchase of CCY. It is your responsibility to withhold, collect, report and remit the correct taxes to the appropriate taxation authorities. Cycoin will not be held responsible for withholding, collecting, reporting or remitting any sales, use, value added or similar tax arising from your purchase of CCY.
          li
            p.is-size-4 Personal information and privacy – collection statement
            p
              ol
                li(type="a") Cycoin may determine, in its sole discretion, that it is necessary to obtain certain information about you, in order to comply with applicable law or regulations (including any applicable anti money laundering or know your customer requirements), in connection with selling CCY to you. You agree to provide Cycoin such information promptly upon request, and you acknowledge Cycoin may refuse to sell CCY to you, until you provide such information and Cycoin.
                li(type="a") We may disclose that information to third parties that help us deliver our services (including information technology suppliers, communication suppliers and our business partners) or as required by law. If you do not provide this information, we may not be able to sell any CCY to you.
                li(type="a") Our privacy policy Cycoin.com/privacy-policy/ (the Privacy Policy) explains:
                  ol
                    li(type="i") how we store and use, and how you may access and correct your personal information;
                    li(type="i") how you can lodge a complaint regarding the handling of your personal information; and
                    li(type="i") how we will handle any complaint.
                  //- ol
                li(type="a") If you would like any further information about our privacy policies or practices, please contact us at hello@Cycoin.com
                li(type="a") By providing your personal information to us, you consent to the collection, use, storage and disclosure of that information as described in the Privacy Policy and these Terms.
                li(type="a") Cycoin agrees not to publish any identifying information related to CCY purchases, without your prior written consent. Cycoin may contact you by email in relation to your purchase of CCY. Such emails will be informational only.
              //- ol
            //- p
          li
            p.is-size-4 Release
            p To the fullest extent permitted by law, you release Cycoin, its directors, employees, contractors and advisors and their respective predecessors, successors and assigns from all claims, demands, actions, damages, losses, costs and expenses of every kind and nature, known and unknown (including, but not limited to, claims of negligence, actions for breach of warranty or actions for breach of contract), arising out of or otherwise in connection with:
            p
              ol
                li(type="a") your purchase or use of CCY;
                li(type="a") your participation in the Event;
                li(type="a") your responsibilities or obligations under these Terms;
                li(type="a") your breach of these Terms; or
                li(type="a") your breach of any rights of, or obligations owed to, any other person or entity,
              //- ol
            p including (but not limited to) in relation to or arising out of disputes between Cycoin and you or between you and other participants in the Event, and the acts or omissions of third parties. To the extent permitted by law, you expressly waive any rights you may have under any statute or common law principles that would otherwise limit the coverage of this release in any way.
          li
            p.is-size-4 Indemnification
            p
              ol
                li(type="a") To the fullest extent permitted by law, you will indemnify, defend and hold harmless Cycoin, its directors, employees, contractors and advisors and their respective predecessors, successors and assigns from and against all claims, demands, actions, damages, losses, costs and expenses (including attorneys’ fees) that arise out of or are otherwise connected with:
                  ol
                    li(type="i") your purchase or use of CCY;
                    li(type="i") your participation in the Event;
                    li(type="i") your responsibilities or obligations under these Terms;
                    li(type="i") your breach of these Terms; or
                    li(type="i") your breach of any rights of, or obligations owed to, any other person or entity.
                  //- ol
                li(type="a") Cycoin reserves the right to exercise sole control over the defence, at your expense, of any claim subject to indemnification under this section 22. This indemnity is in addition to, and not in lieu of, any other indemnities implied into or set forth in any written agreement between you and Cycoin.
              //- ol
          li
            p.is-size-4 Representations and warranties
            p By purchasing CCY, you represent and warrant as follows:
            p
              ol
                li(type="a") you have read, understand and agree to these Terms;
                li(type="a") you acknowledge and agree that the CCY Tokens do not constitute securities, and that these Terms do not, and are not intended to, constitute a prospectus, product disclosure statement or offer document of any sort. You acknowledge and agree that these Terms do not constitute an offer of securities or solicitation for investment in securities in your jurisdiction;
                li(type="a") you have sufficient understanding of the functionality, usage, storage, transmission mechanisms and other material characteristics of cryptographic tokens, token storage mechanisms (such as digital wallets), blockchain technology and blockchain-based software systems to understand these Terms and to appreciate the risks and implications of purchasing CCY;
                li(type="a") you have obtained sufficient information about CCY to make an informed decision to purchase CCY;
                li(type="a") you understand that CCY confer only the possibility of future rights relating to the provision and receipt of services via the Project, if successfully completed and deployed, and do not confer any other rights of any form with respect to the Project or Cycoin, including, but not limited to, any company voting, distribution, redemption, liquidation, proprietary (including all forms of intellectual property), or other financial or legal rights;
                li(type="a") you are purchasing CCY for the purpose of supporting the development, testing, deployment and operation of the Project, and for the possibility of rights relating to the provision and receipt of services via the Project, if successfully completed and deployed. You are not purchasing CCY for any other uses or purposes;
                li(type="a") you are not purchasing or using CCY for any illegal purposes;
                li(type="a") your purchase of CCY complies with your obligations under the applicable law and regulation in jurisdiction to which you are subject, including, but not limited to:
                  ol
                    li(type="i") legal capacity to enter into these Terms;
                    li(type="i") any foreign exchange or regulatory restrictions applicable to such purchase,
                    li(type="i") any governmental or other consents that may need to be obtained; and
                    li(type="i") any other threshold requirements in your jurisdiction for purchasing and using CCY in the Project and entering into contracts with Cycoin;
                  //- ol
                li(type="a") you will comply with any applicable tax obligations in your jurisdiction arising from your purchase of CCY;
                li(type="a") if you are purchasing CCY on behalf of any entity:
                  ol
                    li(type="i") such legal entity is duly organised and validly existing under the applicable laws of the jurisdiction of its organisation, and
                    li(type="i") you are duly authorised by such legal entity to act on its behalf;
                  //- ol
                li(type="a") you are not a citizen or resident of a geographic area in which access to or ownership of the CCY is prohibited by applicable law, decree, regulation, treaty, or administrative act;
                li(type="a") you agree that if your country of residence or other circumstances change such that the above representations are no longer accurate, that you will immediately cease holding CCY;
                li(type="a") you understand and acknowledge that title to, and risk of loss of, CCY passes from Cycoin to you in Seychelles;
                li(type="a") you understand and will take sole responsibility for any restrictions and risks associated with the purchase of CCY as set out in these Terms;
                li(type="a") if any of the representations you have agreed to in these Terms change, such that the representations are no longer accurate, that you will immediately cease holding CCY;
                li(type="a") you have an understanding of the usage and intricacies of cryptographic tokens, like ETC, BTC, other blockchain technology and blockchain-based software systems; and
                li(type="a") all of the above representations and warranties are true, complete, accurate and non-misleading at the time of your purchase of any CCY.
              //- ol
            //- p
          li
            p.is-size-4 Disclaimer of warranties
            p To the fullest extent permitted by law, except as otherwise specified in writing by Cycoin, you expressly acknowledge and agree that:
            p
              ol
                li(type="a") you are purchasing CCY at your sole risk;
                li(type="a") Cycoin makes no warranties or representations as to the successful launch of the Event, or achievement of any other activities noted in these terms or any other documents (including the Materials) produced by Cycoin in respect of the Event, and disclaims any warranties implied by law or otherwise;
                li(type="a") CCY is provided on an “as is” basis without warranties of any kind, either express or implied, including, but not limited to, warranties of title or implied warranties, merchantability or fitness for a particular purpose, title and non-infringement;
                li(type="a") Cycoin makes no representation, warranty or undertaking that the information provided in these Terms or any other documents produced by Cycoin (including the Materials) in respect of the event are truthful, accurate and complete;
                li(type="a") these Terms and all other documents produced by Cycoin (including the Materials) in respect of the Event have been prepared for information purposes only and are not a statement of future intent;
                li(type="a") Cycoin disclaims all liability for any loss or damage of whatsoever kind (whether foreseeable or not) which may arise from any person acting on any information and opinions relating to Cycoin, the Cycoin platform, the CCY Tokens or the Event contained in these Terms, any other documents produced by Cycoin in respect of the Event (including the Materials), or any information which is made available in connection with any further enquiries, notwithstanding any negligence, default or lack of care;
                li(type="a") Cycoin does not represent or warrant that CCY are reliable, current or error-free, will meet your requirements, or that defects in CCY will be corrected;
                li(type="a") Cycoin cannot and does not represent or warrant that CCY or the delivery mechanism for CCY are free of viruses or other harmful or damaging components;
                li(type="a") Cycoin will not be liable for delays, interruptions, service failures or other problems inherent in the use of the internet or electronic communications or other systems outside our control; and
                li(type="a") without limiting the foregoing, Cycoin does not warrant that the process for purchasing CCY will be uninterrupted or error-free.
              //- ol
          li
            p.is-size-4 Limitation of liability and waiver
            p
              ol
                li(type="a") Notwithstanding any other provision of these Terms, you acknowledge and agree that, to the fullest extent permitted by law, the disclaimers of liability contained within these Terms apply to any and all claims, demands, actions, damages, losses, costs and expenses of every kind and nature, known and unknown (including, but not limited to, claims of negligence, actions for breach of warranty or actions for breach of contract), arising out of or related to:
                  ol
                    li(type="i") your purchase or use of CCY;
                    li(type="i") your participation in the Event;
                    li(type="i") your responsibilities or obligations under these Terms;
                    li(type="i") your breach of these Terms; or
                    li(type="i") your breach of any rights of, or any obligations owed to, any other person or entity; and
                  //- ol
                li(type="a") Cycoin will not be liable for any indirect, incidental, special, exemplary or consequential damages, including, but not limited to, for loss of profits, goodwill or data, or damages for business interruption, in any way whatsoever arising out of arising out of or related to:
                  ol
                    li(type="i") your purchase or use of CCY;
                    li(type="i") your participation in the Event;
                    li(type="i") your responsibilities or obligations under these Terms;
                    li(type="i") your violation of these Terms; or
                    li(type="i") your violation of any rights of, or obligations owed to, any other person or entity.
                  //- ol
                li(type="a") You further acknowledge that Cycoin is not liable for the conduct of third parties, including other purchasers of CCY, and that the risk of purchasing CCY rests entirely with you.
                li(type="a") To the extent permitted by law, under no circumstances will Cycoin be liable to you for more than the amount that you may have paid to Cycoin for the purchase of CCY.
              //- ol
            //- P
          li
            p.is-size-4 Forward looking statements
            p
              ol
                li(type="a") Any statements contained in any information, documents or statements made by Cycoin (including the Materials) which are not statements of historical fact are considered "forward looking statements". Often, but not always, such statements include terms such as 'aim', 'target', 'goal', 'anticipate', 'believe', 'could', 'estimate', 'expect', 'if', 'intend', 'may', 'plan', 'possible', 'probably', 'project', 'should', 'would', 'will' or other similar terms. All future looking statements, including any statements regarding Cycoin' development roadmap, technical aspirations, plans and prospects, and any similar statements about the market in which Cycoin intends to operate, including market trends, are forward looking statements.
                li(type="a") All forward looking statements include known and unknown risks, uncertainties and other factors which may cause the actual future results, performance or achievements of Cycoin or the Project to be materially different to those noted in the forward looking statements. Accordingly, no reliance may be placed on these statements as being a promise, representation or undertaking as to the future performance or state of Cycoin or the Project.
                li(type="a") Neither Cycoin nor any other person represents, warrants or undertakes that the actual future results, performance and achievements of Cycoin and the Project will be as noted in the forward looking statements, and Cycoin disclaims any responsibility to update any of those forward looking statements or announce any revisions to those forward looking statements.
              //- ol
          li
            p.is-size-4 Force majeure
            p
              ol
                li(type="a") Cycoin is not liable for failure to perform any of its obligations in respect of the sale and purchase of CCY caused by unavoidable casualty, delays in delivery of materials, embargoes, government orders, acts of civil or military authorities, acts by common carriers, emergency conditions, acts of god, communications outages or any similar unforeseen event that renders performance commercially implausible.
                li(type="a") If an event of force majeure occurs, Cycoin may elect to suspend the Event, in whole or part, for the duration of the force majeure circumstances.
              //- ol
          li
            p.is-size-4 Entire agreement
            p These Terms are the entire agreement between you and Cycoin with respect to the sale and purchase of CCY. They set out the only conduct, representations, warranties, covenants, conditions, agreements or understandings (collectively 
              strong Conduct
              | ) relied on by the parties and supersede all earlier Conduct by or between the parties in connection with the sale and purchase of CCY. Neither party has relied on or is relying on any other Conduct in entering into these Terms and completing the transactions contemplated by them.
          li
            p.is-size-4 Governing law and jurisdiction
            p These Terms are governed by the laws of Seychelles. In relation to them and related non-contractual matters each you irrevocably submit to the non-exclusive jurisdiction of courts with jurisdiction there, and waive any right to object to the venue on any ground.
          li
            p.is-size-4 Severability
            p You agree that if any term, section, clause or provision of these Terms is held unlawful, void or unenforceable, then that term, section, clause or provision will be severable from these Terms and will not affect the validity or enforceability of any remaining part of that term, section, clause or provision, or any other term, section, clause or provision of these Terms.
          li
            p.is-size-4 No waiver
            p Cycoin’ rights will not be waived except where a waiver is in writing signed by Cycoin. A waiver by either party of a breach of these Terms will not prejudice the rights of that party in respect of any subsequent breach of these Terms by the other party. Failure or omission by Cycoin at any time to enforce or require strict or timely compliance with any provision of these Terms will not affect or impair that provision in any way or the rights of Cycoin to avail itself of the remedies it may have in respect to any breach of any such provision.
          li
            p.is-size-4 Updates to the terms and conditions of the Event
            p Cycoin reserves the right, at its sole discretion, to change, modify, add, or remove portions of the Terms at any time during the sale by posting the amended Terms on the Website. You will be deemed to have accepted such changes by continuing to purchase CCY. If at any point you do not agree to any portion of the then-current version of the Terms, you should not purchase CCY.
          li
            p.is-size-4 Translated Documents
            p You will not place reliance on translated documents, in languages other than English, that are published by Cycoin. All translated documents are for informational purposes and only the English original document prevails.
        //- ol
      //- tnc
      .has-text-centered
        a#iagree.button.is-success.is-uppercase.is-static.shopify-button(href="https://cycoinportal.com/") I agree
      //- .shopify-button#product-component-0a8a0bb163b
      //- 
        script(type="text/javascript").
          /*<![CDATA[*/
          (function () {
          var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
          if (window.ShopifyBuy) {
            if (window.ShopifyBuy.UI) {
              ShopifyBuyInit();
            } else {
              loadScript();
            }
          } else {
            loadScript();
          }

          function loadScript() {
            var script = document.createElement('script');
            script.async = true;
            script.src = scriptURL;
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
            script.onload = ShopifyBuyInit;
          }

          function ShopifyBuyInit() {
            var client = ShopifyBuy.buildClient({
              domain: 'eentsy.myshopify.com',
              storefrontAccessToken: '6b7a6fb67f9c91ec08a5aed7ebe03958',
            });

            ShopifyBuy.UI.onReady(client).then(function (ui) {
              ui.createComponent('product', {
                id: [1491638911065],
                node: document.getElementById('product-component-0a8a0bb163b'),
                moneyFormat: '%24%7B%7Bamount%7D%7D',
                options: {
                  "product": {
                    "variantId": "all",
                    "width": "240px",
                    "contents": {
                      "img": false,
                      "imgWithCarousel": false,
                      "title": false,
                      "variantTitle": false,
                      "price": false,
                      "description": false,
                      "buttonWithQuantity": false,
                      "quantity": false
                    },
                    "text": {
                      "button": "Buy Cycoin"
                    },
                    "styles": {
                      "product": {
                        "text-align": "center",
                        "@media (min-width: 601px)": {
                          "max-width": "100%",
                          "margin-left": "0",
                          "margin-bottom": "50px"
                        },
                        "carousel-button": {
                          "display": "block"
                        }
                      },
                      "button": {
                        "background-color": "#39e350",
                        "padding-left": "apx",
                        "padding-right": "apx",
                        ":hover": {
                          "background-color": "#33cc48"
                        },
                        "border-radius": "0px",
                        ":focus": {
                          "background-color": "#33cc48"
                        },
                        "font-weight": "bold",
                        "margin": "auto"
                      },
                      "title": {
                        "font-size": "26px"
                      },
                      "price": {
                        "font-size": "18px"
                      },
                      "compareAt": {
                        "font-size": "15px"
                      }
                    }
                  },
                  "cart": {
                    "contents": {
                      "button": true
                    },
                    "styles": {
                      "button": {
                        "background-color": "#39e350",
                        ":hover": {
                          "background-color": "#33cc48"
                        },
                        "border-radius": "0px",
                        ":focus": {
                          "background-color": "#33cc48"
                        },
                        "font-weight": "bold"
                      },
                      "title": {
                        "color": "#4a4a4a"
                      },
                      "footer": {
                        "background-color": "#ffffff"
                      },
                      "header": {
                        "color": "#4a4a4a"
                      },
                      "lineItems": {
                        "color": "#4a4a4a"
                      },
                      "subtotalText": {
                        "color": "#4a4a4a"
                      },
                      "subtotal": {
                        "color": "#4a4a4a"
                      },
                      "notice": {
                        "color": "#4a4a4a"
                      },
                      "currency": {
                        "color": "#4a4a4a"
                      },
                      "close": {
                        ":hover": {
                          "color": "#4a4a4a"
                        },
                        "color": "#4a4a4a"
                      },
                      "emptyCart": {
                        "color": "#4a4a4a"
                      }
                    }
                  },
                  "modalProduct": {
                    "contents": {
                      "img": false,
                      "imgWithCarousel": true,
                      "variantTitle": false,
                      "buttonWithQuantity": true,
                      "button": false,
                      "quantity": false
                    },
                    "styles": {
                      "product": {
                        "@media (min-width: 601px)": {
                          "max-width": "100%",
                          "margin-left": "0px",
                          "margin-bottom": "0px"
                        }
                      },
                      "button": {
                        "background-color": "#39e350",
                        "padding-left": "apx",
                        "padding-right": "apx",
                        ":hover": {
                          "background-color": "#33cc48"
                        },
                        "border-radius": "0px",
                        ":focus": {
                          "background-color": "#33cc48"
                        },
                        "font-weight": "bold"
                      }
                    }
                  },
                  "toggle": {
                    "styles": {
                      "toggle": {
                        "background-color": "#39e350",
                        ":hover": {
                          "background-color": "#33cc48"
                        },
                        ":focus": {
                          "background-color": "#33cc48"
                        },
                        "font-weight": "bold",
                        "border-radius": "4px",
                        "right": "15px"
                      }
                    }
                  },
                  "productSet": {
                    "styles": {
                      "products": {
                        "@media (min-width: 601px)": {
                          "margin-left": "-20px"
                        }
                      }
                    }
                  },
                  "lineItem": {
                    "styles": {
                      "variantTitle": {
                        "color": "#4a4a4a"
                      },
                      "title": {
                        "color": "#4a4a4a"
                      },
                      "price": {
                        "color": "#4a4a4a"
                      },
                      "quantity": {
                        "color": "#4a4a4a"
                      },
                      "quantityIncrement": {
                        "color": "#4a4a4a",
                        "border-color": "#4a4a4a"
                      },
                      "quantityDecrement": {
                        "color": "#4a4a4a",
                        "border-color": "#4a4a4a"
                      },
                      "quantityInput": {
                        "color": "#4a4a4a",
                        "border-color": "#4a4a4a"
                      }
                    }
                  }
                }
              });
            });
          }
          })();
          /*]]>*/
        //- script
    //- container
  //- section

block scripts
  script.
    var divHeight = document.getElementById("tnc");
    var agree = document.getElementById("iagree");
    divHeight.onscroll = function(ev) {
      if( divHeight.scrollTop >= (divHeight.scrollHeight - divHeight.offsetHeight)) {
        agree.className = agree.className.replace(/\bis-static\b/g, "");
      }
    };
