extends ./layout/_layout.pug

block pagetitle
  title Cycoin Blog
//- block

block metakeywords
  meta(name="keywords", content="cycoin, cryptocurrency, investing, wealth coin, coin, altcoin, best, safe, reliable, money, invest, digital, online, assets, easy investing, alternative")
//- block

block headerlogo
  a.navbar-item(href='index.html')
    img(src='assets/images/logo.png', alt='Cycoin', height='28')
    span Cycoin
  //- a
//- block
block footerlogo
  .logo
    img(src="assets/images/logo.png")
    span Cycoin
  //- logo
//- block

block pagecss
  style.
    body {
      margin-top: 64px;
    }
    nav.navbar {
      background: #2f4a5d;
    }
    #topic {
      display: none;
    }
//- block
  
block content
  
  //- https://www.ccn.com/cryptocurrency-market-drops-to-241-billion-eos-takes-a-huge-beating/
  
  section.section.normal.topic
    .container
      #blog
        .columns#topic
          .column.is-8.is-offset-2
            h1.title {{ post.title ? post.title : "Blog" }}
            .content(v-html="post.content")
            hr
            .media
              .media-left
                figure.image.is-48x48
                  img(v-bind:src="post.author.image.url", alt="Author")
                //- figure
              //- media-left
              .media-content.is-clipped
                p.title.is-4 {{ post.author.displayName }}
                p.subtitle.is-6
                  span.is-size-7.has-text-grey {{ published }}
                //- p
              //- media-content
            //- media
          //- column
        //- columns
      //- #blog
    //- container
  //- section

block scripts
  script.
    var postid = location.href.split('=')[1];
    var blog = new Vue({
      el: '#blog',
      data: {
        post: [],
        published: ''
      },
      created: function() {
        this.loadPost();
      },
      methods: {
        loadPost: function() {
          var self = this;
          axios.get("https://www.googleapis.com/blogger/v3/blogs/9211130937384517946/posts/" + postid, {
            params: {
              key: 'AIzaSyBRNoNNjubEPKlZXDh7oMwexnNH7hMdFVU'
            }
          }).then(function (res) {
            self.post = res.data
            self.published = moment(res.data.published).format("MMMM DD YYYY")
          })
          .catch(function (err) {
            document.getElementById('blog').innerHTML = '<span class="has-text-danger">' + err.message + '</span>';
          });
          document.getElementById("topic").style.display = "block";
        }
      }
    });
