doctype html
html(lang="en")
  head
    // Title block allowing child pages to override
    block pagetitle
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="description", content="Cycoin is an ERC20 taken based on the Etherium platform")
    block metakeywords
    meta(name="author", content="Marko Kovac")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="icon", type="image/png", href="assets/images/favicon.png")
    
    //- CDN
    script(defer, src="//use.fontawesome.com/releases/v5.0.6/js/all.js")
    script(src="//cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js")
    script(src="//unpkg.com/axios/dist/axios.min.js")
    script(src="//momentjs.com/downloads/moment.js")
    script(src="//cdn.jsdelivr.net/npm/vue-carousel@0.8.1/dist/vue-carousel.min.js")
    script(src="//unpkg.com/buefy")
    script(src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js")
    link(href="//fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800", rel="stylesheet")
    
    //- BOWER COMPONENTS
    // bower:css
    // endinject
    
    //- CDN
    //- link(href="//unpkg.com/buefy/lib/buefy.min.css", rel="stylesheet")
    
    //- APP JS
    // inject:css
    // endinject
    
    block pagecss
    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    script(async="", src="https://www.googletagmanager.com/gtag/js?id=UA-119801306-1")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-119801306-1');
  body
    
    //- FACEBOOK LIKE
    #fb-root
    script.
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.0';
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    //- script
    
    //- TWITTER FOLLOW
    script(async="", src="https://platform.twitter.com/widgets.js", charset="utf-8")
    
    .social.is-sticky
      a.has-text-bitcoin(href="//bitcointalk.org/index.php?topic=4634607.msg41883106#msg41883106", target="_blank")
        i.fab.fa-bitcoin
      //- a
      a.has-text-twitter(href="//twitter.com/Cycoin1", target="_blank")
        i.fab.fa-twitter
      //- a
      a.has-text-facebook(href="//www.facebook.com/cycoin/", target="_blank")
        i.fab.fa-facebook-f
      //- a
      a.has-text-reddit(href="//www.reddit.com/user/Cycoin1", target="_blank")
        i.fab.fa-reddit
      //- a
      a.has-text-md(href="//medium.com/@marko_88512", target="_blank")
        i.fab.fa-medium
      //- a
      a.has-text-telegram(href="//t.me/CycoinOfficialGroup", target="_blank")
        i.fab.fa-telegram
      //- a
    //- social
    
    .follow
      a.twitter-follow-button(href="https://twitter.com/Cycoin1?ref_src=twsrc%5Etfw", data-size="large", data-show-screen-name="false", data-show-count="false") Follow @Cycoin1
      
      .fb-like(data-href="https://www.facebook.com/cycoin/?ref=bookmarks", data-layout="button", data-action="like", data-size="large", data-show-faces="false", data-share="false")
    //- follow
    
    include ../includes/_header.pug
    
    #app
      block content
    
    include ../includes/_footer.pug
    
    //- BOWER COMPONENTS
    // bower:js
    // endinject
    
    //- APP JS
    // inject:js
    // endinject

    //- PAGE SCRIPTS
    block scripts
