doctype html
html(lang="en")
  head
    // Title block allowing child pages to override
    block pagetitle
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="description", content="Cycoin is an ERC20 taken based on the Etherium platform")
    block metakeywords
    meta(name="author", content="Marko Kovac")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="icon", type="image/png", href="assets/images/favicon.png")
    
    //- CDN
    script(defer, src="//use.fontawesome.com/releases/v5.0.6/js/all.js")
    script(src="//cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js")
    script(src="//unpkg.com/buefy")
    script(src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js")
    link(href="//fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800", rel="stylesheet")
    
    //- BOWER COMPONENTS
    // bower:css
    // endinject
    
    //- CDN
    link(href="//unpkg.com/buefy/lib/buefy.min.css", rel="stylesheet")
    
    //- APP JS
    // inject:css
    // endinject
    
    block pagecss
    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    script(async="", src="https://www.googletagmanager.com/gtag/js?id=UA-119801306-1")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-119801306-1');
  body
    
    include ../includes/_header.pug
    
    #app
      block content
    
    include ../includes/_footer.pug
    
    //- BOWER COMPONENTS
    // bower:js
    // endinject
    
    //- APP JS
    // inject:js
    // endinject

    //- PAGE SCRIPTS
    block scripts
