// 1. Import the initial variables
@import "../../bower_components/bulma/sass/utilities/initial-variables";
@import "../../bower_components/bulma/sass/utilities/functions";

// SAMPLE CUSTOM COLOR VAUES
$primary                                      : #408ECE;
$link                                         : #54494B;
// $info                                         : #408ECE;
$success                                      : #39e350;
$warning                                      : #E3D081;
$danger                                       : #E23C31;
$dark                                         : #2F4A5D;

// ALL
$radius                                       : 0;

// HEADER NAVBAR
$navbar-height                                : 4rem;
$navbar-background-color                      : transparent;
$navbar-item-img-max-height                   : 1.8rem;
$navbar-item-color                            : white;
$navbar-item-hover-color                      : #39e350;

// FOOTER
$footer-background-color                      : #31393F;


// Setup your Custom Colors
$twitter: #55acee;
$twitter-invert: findColorInvert($twitter);
$facebook: #3b5999;
$facebook-invert: findColorInvert($facebook);
// Add new color variables to the color map.
@import "../../bower_components/bulma/sass/utilities/derived-variables";
$addColors: (
  "twitter":($twitter, $twitter-invert),
  "facebook": ($facebook, $facebook-invert),
);
$colors: map-merge($colors, $addColors);

// 6. Import the rest of Bulma
@import "../../bower_components/bulma/bulma";
