@import '_override';

html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Nunito Sans', sans-serif;
}
#app {
  min-height: 62vh;
}

@include touch {
  body {
    margin-top: 64px;
  }
  nav.navbar {
    background: #2f4a5d;
  }
}
@media screen and (max-width: 1087px) {
  .navbar-menu {
    background: transparent;
    box-shadow: none;
  }
}

// =============================================================================[ CUSTOM CSS ]

// HEADER
nav.navbar {
  & {
    transition: all .2s ease-in-out;
  }
  .navbar-brand {
    & {
      font-size: 1.4rem;
      align-items: center;
    }
    img {
      margin-right: 10px;
    }
  }
  .navbar-burger {
    span {
      background: white;
    }
  }
  &.is-scrolled {
    background: #2f4a5d;
    // box-shadow: 0 2px 3px rgba(10,10,10,0.05), 0 0 0 1px rgba(10,10,10,0.05);
  }
}
// HERO BANNER
section {
  & {

  }
  &.bb {
    border-bottom: 1px solid #B6BFC5;
  }
  // NORMAL
  &.normal {
    .title, .subtitle {
      color: #30495c;
    }
  }
  // BANNER
  &.banner {
    & {
      background: #406B93;
      text-align: center;
      @include touch {
        padding-top: 52px;
      }
    }
    * {
      color: white;
    }
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: url(../../assets/images/img-banner.jpg) center center no-repeat;
      background-size: cover;
      opacity: .08;
    }
    h1.title, h2.subtitle {
      margin: 0;
    }
    .content {
      margin-bottom: 10px;
    }
    h1.title {
      font-size: 4.2rem;
    }
    .button {
      font-size: 1rem;
      padding: .6rem 2rem;
      white-space: normal;
      height: auto;
    }
  }
  // VISION
  &.vision {
    & {
      background: $dark;
    }
    * {
      color: white;
    }
  }
  // BLURB
  &.blurb {
    & {

    }
    * {

    }
    img {
      height: 96px;
      margin: auto;
      display: block;
    }
    .title {
      margin-bottom: 55px;
    }
    .subtitle {
      text-align: center;
      font-weight: 800;
      margin-top: 35px;
      text-transform: uppercase;
    }
  }
  // STRATEGIES
  &.strategies {
    & {

    }
    * {

    }
    img {
      margin: auto;
      display: block;
      width: 70px;
    }
    .title {
      margin-bottom: 55px;
    }
    .subtitle {
      text-align: center;
      font-weight: 800;
      margin-top: 35px;
      text-transform: uppercase;
    }
    .media {
      & {
        align-items: center;
        background: #F9FAFB;
        padding: 45px 0;
        border-top: 0;
      }
      .media-left {
        margin-bottom: 0;
      }
      .media-content {
        strong {
          font-weight: 600;
        }
      }
    }
  }
  // ABOUT
  &.about {
    & {
      background: $primary;
    }
    * {
      color: white;
    }
    img {
      height: 96px;
      margin: auto;
      display: block;
    }
    .title {
      margin-bottom: 55px;
    }
    .subtitle {
      text-align: center;
      font-weight: 800;
      margin-top: 35px;
      text-transform: uppercase;
    }
  }
  // SUBSCRIBE
  &.subscribe {
    & {
      background: #31393F;
    }
    * {
      color: white;
    }
    .columns {
      align-items: center;
    }
    .button {
      text-transform: uppercase;
      padding: .4rem 2rem;
      font-size: .8rem;
      font-weight: bold;
      height: auto;
      line-height: normal;
    }
  }
  // TEAM
  &.team {
    & {

    }
    * {

    }
    .card {
      height: 100%;
    }
    img {
      height: 200px;
      margin: auto;
      display: block;
      border-radius: 50%;
      border: 5px solid $success;
    }
    .title {
      margin-bottom: 55px;
      @include mobile {
        margin-bottom: 0;
      }
    }
    .subtitle {
      text-align: center;
      margin-top: 35px;
      text-transform: uppercase;
    }
  }
  // BLOG
  &.blog {
    .columns {
      overflow-x: scroll;
      scroll-behavior: smooth;
      -webkit-overflow-scrolling: touch;
    }
    .card {
      & {
        height: 100%;
        display: flex;
        flex-direction: column;
      }
      .card-image {
        figure {
          & {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-color: whitesmoke;
          }
          img {
            top: 50%;
            transform: translateY(-50%);
            width: auto;
            height: 100%;
            margin: 0 auto;
          }
        }
      }
      .card-content {
        & {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          flex-grow: 1;
        }
        .media {
          align-items: center;
        }
        .author {
          margin-bottom: 0;
        }
      }
    }
  }
  // TOPIC
  &.topic {
    .content * {
      font-size: inherit !important;
      font-weight: inherit !important;
      font-family: inherit !important;
      line-height: inherit !important;
      &:not(strong, b) {
        color: inherit !important;
      }
    }
    .media {
      .media-left {
        img {
          border-radius: 50%;
        }
      }
    }
  }
}


// FOOTER
footer.footer {
  & {
    border-top: 1px solid lighten(#51585D, 5%);
    color: #B3B6B8;
    padding: 4rem 1.5rem;
    font-size: .8rem;
  }
  a {
    color: #B3B6B8;
  }
  .logo {
    & {
      color: white;
      margin-bottom: 5px;
    }
    img {
      width: 40px;
      vertical-align: middle;
      display: inline;
      margin-right: 10px;
    }
    span {
      font-size: 1.5rem;
      vertical-align: middle;
    }
    strong {
      color: white;
    }
  }
  .column-title {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
  }
  ul {
    list-style: none;
    margin: 20px 0 0 0;
    a {
      &:hover {
        color: white;
      }
    }
  }
  address {
    margin-top: 20px;
    font-style: normal;
  }
  .social {
    font-size: 1.2rem;
    margin-bottom: 5px;
    a {
      margin-right: 10px;
    }
  }
}

// TIMELINE
.timeline {
  & {
    position: relative;
    padding: 25px 0;
    @include mobile {
      padding: 0;
    }
  }
  &::before {
    content: "";
    width: 10px;
    height: 100%;
    background: $success;
    position: absolute;
    border-radius: 5px;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    @include mobile {
      right: auto;
    }
  }
  .item {
    & {
      position: relative;
      padding: 15px 0;
      margin: 25px 0;
    }
    .description {
      position: relative;
      width: 170px;
      padding: 5px 15px;
      border-radius: 5px;
      border: 1px solid #eee;
      background: #f5f5f5;
    }
    &:nth-child(odd) {
      margin-left: calc(50% + 20px);
      text-align: left;
      @include mobile {
        margin-left: 25px;
      }
      .description {
        transform: translateX(-125%);
        text-align: right;
        @include mobile {
          transform: none;
          margin-top: 5px;
          width: auto;
          text-align: left;
        }
      }
    }
    &:nth-child(even) {
      margin-right: calc(50% + 20px);
      text-align: right;
      @include mobile {
        text-align: left;
        margin-left: 25px;
        margin-right: 0;
      }
      .description {
        transform: translateX(125%);
        text-align: left;
        @include mobile {
          transform: none;
          margin-top: 5px;
          width: auto;
        }
      }
    }
    .phase {
      display: inline-block;
      position: relative;
      vertical-align: middle;
      @include mobile {
        display: block;
      }
      .date {
        color: gray;
      }
      .name {
        font-weight: bold;
      }
      .description {
        // position: absolute;
        // top: 50%;
      }
    }
  }
}

.social {
  &.is-sticky {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 2px 2px 3px rgba(10,10,10,0.1), 0 0 0 0px rgba(10,10,10,0.1);
    z-index: 9;
    a {
      display: block;
      line-height: normal;
      font-size: 1.8rem;
      width: 40px;
      height: 40px;
      padding: 2px 0;
      text-align: center;
      background: whitesmoke;
      & + a {
        border-top: 1px solid white;
      }
    }
  }
}
