footer.footer
  .container
    .content
      .columns
        .column.is-4.is-offset-2
          block footerlogo
          p Cycoin is the first cryptocurrency offering true asset backing and complete democratic control to Cycoin holders over the crypto assets backing their Cycoin investment.
        //- column
        .column.is-2
          .column-title Main Menu
          ul
            li
              a(href="index.html") Home
            //- li
            li
              a(href="#coindemocracy") Coin Democracy
            //- li
            li
              a(href='assets/files/Whitepaper.pdf', target="_blank", rel="nofollow") Whitepaper
            //- li
            li
              a(href="roadmap.html") Roadmap
            //- li
            li
              a(href="team.html") Team
            //- li
          //- ul
        //- column
        .column.is-2
          .column-title Connect with us
          address
            .social
              a.has-text-twitter(href="//twitter.com/Cycoin1", target="_blank")
                i.fab.fa-twitter
              //- a
              a.has-text-facebook(href="//www.facebook.com/cycoin/", target="_blank")
                i.fab.fa-facebook-f
              //- a
            //- social
            p
              | Cycoin company Ltd
              br
              | 12 North Street, Address
              br
              | Main City PO10 7DQ
            //- p
            p
              | +44 (0)123 456 7890
              br
              a(href="mailto:hello@cycoin.co", target="_blank") hello@cycoin.co
            //- p
          //- address
        //- column
      //- columns
    //- content
  //- container
//- footer
