footer.footer
  .container
    .content
      .columns
        .column.is-4
          block footerlogo
          p Lorem ipsum dolor sit amet, his melius suscipiantur cu, eos te saperet meliore percipitur. Dolore petentium ei eam. Qui assum dicam ex, quo populo liberavisse in. Cum posse hendrerit disputando eu. Ex audiam noluisse cotidieque duo.
        //- column
        .column
          .column-title Products
          ul
            li
              a(href="") Lorem ipsum
            //- li
            li
              a(href="") Dolor sit amet
            //- li
            li
              a(href="") His melius
            //- li
            li
              a(href="") Suscipiantur
            //- li
            li
              a(href="") Cu eos te
            //- li
          //- ul
        //- column
        .column
          .column-title Main Menu
          ul
            li
              a(href="") Home
            //- li
            li
              a(href="") Coin Democracy
            //- li
            li
              a(href="") Whitepaper
            //- li
            li
              a(href="") Roadmap
            //- li
            li
              a(href="") Team
            //- li
          //- ul
        //- column
        .column
          .column-title Others
          ul
            li
              a(href="") Lorem ipsum
            //- li
            li
              a(href="") Dolor sit amet
            //- li
            li
              a(href="") His melius
            //- li
            li
              a(href="") Suscipiantur
            //- li
            li
              a(href="") Cu eos te
            //- li
          //- ul
        //- column
        .column
          .column-title Connect with us
          address
            p
              | Cycoin company Ltd
              br
              | 12 North Street, Address
              br
              | Main City PO10 7DQ
            //- p
            p
              | +44 (0)123 456 7890
              br
              | hello@cycoin.co
            //- p
          //- address
        //- column
      //- columns
    //- content
  //- container
//- footer
