header
  nav.navbar.is-transparent.is-fixed-top
    .container
      .navbar-brand
        block headerlogo
        .navbar-burger.burger(data-target='navbarExampleTransparentExample')
          span
          span
          span
        //- navbar-burger
      //- navbar-brand
      #navbarExampleTransparentExample.navbar-menu
        .navbar-end
          a.navbar-item(href='index.html')
            | Home
          //- a
          block homepagenav
          //- a.navbar-item(href='')
          //-   | Roadmap
          //- //- a
          a.navbar-item(href='team.html')
            | Team
          //- a
          a.navbar-item(href='roadmap.html')
            | Roadmap
          //- a
          a.navbar-item(href='blog.html')
            | Blog
          //- a
          //- a.navbar-item(href='')
          //-   | Bounties
          //- //- a
          a.navbar-item(href='assets/files/WhitepaperSep2018.pdf', target="_blank", rel="nofollow")
            i.fas.fa-arrow-alt-circle-down
            | &nbsp;Whitepaper
          //- a
        //- navbar-end
      //- navbar-menu
    //- container
  //- nav
//- header
